# --- For-Bot-Working --------- #
pyrogram
TgCrypto
https://github.com/Ns-AnoNymouS/pyromod/archive/refs/heads/master.zip

# --- For-Database ------------ #
sqlalchemy~=1.3.23
psycopg2-binary
feedparser
flask
